<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.artyawn.arty">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Arty">
        <activity
            android:name=".GroupsMate.TasksGr"
            android:exported="false" />
        <activity
            android:name=".GroupsMate.UsersGr"
            android:exported="false" />
        <activity
            android:name=".GroupsAdmin.GroupsTasksFor"
            android:exported="false" />
        <activity
            android:name=".GroupsAdmin.GroupsAdminUsers"
            android:exported="false" />
        <activity
            android:name=".ActivityMatesGroups.MatesGroupsActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityTaskFor.MatesTasksActivity"
            android:exported="true" />
        <activity
            android:name=".ActivityMyGroups.MyGroupsActivity"
            android:exported="true" />
        <activity
            android:name=".CreateGroup.NewGroup"
            android:exported="true" />
        <activity
            android:name=".CreateTask"
            android:exported="true" />
        <activity
            android:name=".ActivityTask.Tasks"
            android:exported="true" />
        <activity
            android:name=".UserActivity"
            android:exported="true" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".login.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".FirstActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>